<div class="bg-blue">
  <div class="container white clearfix">
    BBB(s)
    <div class="right">
      {{link-to 'Account' 'account' class="white p2"}}
      {{!link-to 'Calendar' 'account' class="white p2"}}
      {{!link-to 'Profile' 'account' class="white p2"}}
    </div>
  </div>
</div>
