.alert {
  line-height: 1.5;
  text-align: center;
  color: $white;
}

.alert.alert-success {
  background: $green;
}

.alert.alert-danger {
  background: $red;
}

.alert.alert-warning {
  background: $yellow;
}

.alert.alert-info {
  background: $blue;
}
