@import '../../../node_modules/basscss-sass/_colors.scss';
@import 'alerts';
@import 'resets';

.parent-hover-margin-left .child-hover-margin-left {
  transition: margin 0.2s ease-in-out;
}

.parent-hover-margin-left:hover .child-hover-margin-left {
  margin-left: 0.5em;
}

.hundy-vh {
  height: 100vh;
}

.underline-blue {
  border-bottom: 6px solid $blue;
}
