<div class="container flex flex-center" style="height: 100vh;">
  <div class="jumbo flex-grow">
    <h1 class="center">
      brick by brick
    </h1>

    <div class="center">
      <p>
        <span class="octicon octicon-light-bulb"></span>
        Learn something new everyday
      </p>
      <p>
      <span class="octicon octicon-globe"></span> Share what you learn to change the world
      </p>
    </div>

    <div class="center mt4">
      <a href="#" class="btn btn-primary parent-hover-margin-left">Get started&nbsp;&nbsp;<span class="octicon octicon-triangle-right child-hover-margin-left"></span></a>

    </div>
  </div>
</div>
