<div class="container">
  <h1 class="center">
    brick by brick
  </h1>

  <div class="center">
    <p>
      Learn something new everyday
    </p>
    <p>
      Share what you learn to change the world
    </p>
  </div>

  <div class="center mt4">
    <a href="#" class="btn btn-primary">Get started</a>
  </div>

</div>
