<div class="container flex flex-center hundy-vh">
  <div class="form flex-grow center">
    <h1>Reset Password</h1>
    <div class="mt2">
      {{bbb-input value="password" model=model}}
    </div>
    <div class="mt2">
      {{bbb-input value="passwordConfirmation" model=model}}
    </div>
    <div class="mt4">
      <a href="#" class="btn btn-primary" {{action "signup"}}>
        Reset Password
      </a>
    </div>
    <br>
    <h2 class="mb2">
      {{#link-to "signup"}}Signup{{/link-to}}
      &nbsp;&nbsp;&nbsp;
      {{#link-to "login"}}Login{{/link-to}}
    </h2>
  </div>
</div>
